* { margin: 0; padding: 0; }
body, html {
  height: 100%;
}

body
{
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
}

.bot-text-display {
	font-size: 48px;
}

.row:last-child {
    position: absolute;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
    bottom: 0;
}